TZ=Asia/Shanghai
*/15 * * * * /usr/local/bin/python /app/download.py >/proc/1/fd/1 2>/proc/1/fd/2
*/10 * * * * /usr/local/bin/python /app/matchbgm.py >/proc/1/fd/1 2>/proc/1/fd/2
*/15 * * * * /usr/local/bin/python /app/upload.py >/proc/1/fd/1 2>/proc/1/fd/2
